  <router-outlet></router-outlet>
  <!-- <app-header></app-header>
  <div class="container-fluid page-body-wrapper">
    
    <div class="row">
        <div class="col-md-12">
            <div class="main-panel">
                <div class="content-wrapper">
                    <app-sidebar></app-sidebar> <br>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <router-outlet></router-outlet>
               
            </div>
            <div class="col-md-6">
                <h2>section 2</h2>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer> -->

